// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.wrapper {
  height: calc(100vh - 67px - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #eeeeee;
  // overflow-y: scroll;
}

/* Stile di base per la barra di NProgress */
#nprogress .bar {
  background: #ff5722; /* Colore simile a quello di YouTube */
  height: 3px; /* Altezza della barra */
}

/* Stile per lo spinner (puoi nasconderlo se non vuoi) */
#nprogress .spinner {
  display: none; /* Nascondi lo spinner */
}

@media screen and (min-width: 992px) {
  .wrapper {
    height: calc(100vh - 67px - 65px);
  }
}
